#burguer_nav,
#homepage_top_cont,
#homepage_sub_top_cont,
#homepageForm,
#searchBox,
#events_table,
#about_container  {
  display:none;
}


.burger {
  $width: 28px;
  display:inline-block;
  border: 0;
  background: none;
  outline: 0;
  padding: 0;
  cursor: pointer;

}

#main_map {
  height:500px;
  width:1200px;
  display:none;
  /* background: transparent url(./images/Loading.gif) no-repeat center center; */
}
 /* NOTE for possible future CSS */
/* #main_map img {
  display: none;
 }

 #main_map.currently-loading img {
    display: block;
    height:500px;
    width:1200px;
} */

th, td {
  padding: 10px;
}
