#homepage_top_cont,
#homepage_sub_top_cont,
#homepageForm,
#searchBox,
#events_table,
#about_container,
#next-page,
#navigation {
  display:none;
}

body {
  background-color: AliceBlue;
}

table td, th{
  border: 1px solid black;
}

#main_map {
  height:500px;
  width: 98.5%;
  display:none;
  border: 1px solid grey;
  margin: 10px 10px 10px 10px;
  content display: center;
}

th, td {
  padding: 10px;
}

.homepage_button{
height:100px;
width:200px;
border-radius: 10px;
font-size: 20px;
text-align: center;
}

#homepage_form {
  justify-content: center;
}
