* {
  display:none;
}





.burger {
  $width: 28px;
  display: inline-block;
  border: 0;
  background: none;
  outline: 0;
  padding: 0;
  cursor: pointer;


}



#main-map {
  height:500px;
  width:1200px;
}

th, td {
  padding: 10px;
}
